language: python

python:
  - 2.7
  - 3.5
  - 3.6

install:
  - pip install -r requirements/dev.txt
  - pip install codecov

script:
  - python -m unittest discover
  - behave
  - coverage erase
  - coverage run test_webapp.py && coverage html
  - pylint --output-format=text webapp.py

after_success:
  - codecov

deploy:
  - provider: heroku
    api_key:
      secure: adc12bfe-bcdd-4690-bfcf-5d8b62da16fd
    app: flask-travis-ci
