<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <!-- <link rel="icon" href="../../favicon.ico">-->

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/style.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/assets/js/ie-emulation-modes-warning.js"></script>

    <script type="text/javascript" src="httpGet.js"></script> 

    
    <script>
      
     var id = getParameterByName('idAnuncio');
     var urlObtenerProducto = "http://kelpa-api.herokuapp.com/product/"+ id;
     var usuarioLog = JSON.parse(sessionStorage.getItem('usuarioLogeado'));
      //Necesario para parsear el json
    var jsonProducto = JSON.parse(httpGet(urlObtenerProducto));
          
    
var image = 0;
var linkImage =jsonProducto.photo_urls;


function cambiarImagen() {
  
  if(image == linkImage.length-1) {
    image = 0;
  }
  else{
    image +=1 ;
  }
    document.getElementById('0').src = linkImage[image];
    console.log(image.toString());
}
function volverImagen() {
    if(image == 0) {
      image = linkImage.length-1;
    }
    else{
      image -=1 ;
    }
    document.getElementById('0').src = linkImage[image];
    console.log(image.toString());
}

</script>
     

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Barra de menu superior -->
   
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          
          <div class="collapse navbar-collapse" id="myNavbar">
              <div class="navbar-header">
                  <a class="navbar-brand" href="bienvenidaConectado.html"><img  src="/static/logo.jpg" width="55px" /></a>
                </div>
                <form class="navbar-form navbar-left" action="/action_page.php">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                  </form>
                  <form class="navbar-form navbar-left" method="get" action="crearAnuncio.html">
                        <button type="submit" class="btn btn-success">Subir producto</button>
                    </form>
            <ul class="nav navbar-nav navbar-right" id="in_line" >
                
                    <div class="dropdown"> 
                            <a data-toggle="dropdown" style="color:rgb(0, 0, 0);" >
                                <span style="color:white;font-weight:bold" id="nombre" >Pedrito</span>
                            <img id="icono"  class='img-circle' height="42" width="42"  > </img>
                                <ul class="dropdown-menu">
                                    <li><a href="chat.html">Mensajes <span class="glyphicon glyphicon-envelope"></span> <span class="badge">10</span></li>
                                   <li><a href="miCarrito.html">Mi carrito  <span class="glyphicon glyphicon-shopping-cart my-cart-icon"></span> <span class="badge">10</span></li>
                                   <li><a  id='usuario' href="perfil_vendedor.html">Mi perfil <span class="glyphicon glyphicon-user"></span></a></li>
                                 <li><a href="editarUsuario.html">Editar perfil <span class="glyphicon glyphicon-cog"></span></a></li>
                                  <li><a href="index.html">Desconectarse <span class="glyphicon glyphicon-off"></span></a></li>
                                  
                               </ul>
                        </div>
                    </a>
                    
                
                    </div>
                    
            </ul>
          </div>
        </div>
    </nav>


    <!-- Imagen de producto -->
    <div class="container top bottom" style="width: 90%; background-color: rgba(230, 240, 245, 0.9);margin-top:80px;">
      <div class="row" style="margin-left:10%;">
        <a id="refVendedor" href="perfil_vendedor.php"><label id="nombreVendedor" class="col-md-4 control-label"style="vertical-align: middle;font-size: 2em;">Manuel_56</label></a>  <!-- nombre del vendedor -->
        <script>
          function negociar(seller_id, product_id){
                    var urlTrade="https://kelpa-api.herokuapp.com/trade";
                    var params = {
                      "seller_id": seller_id,
                      "buyer_id": usuarioLog.id,
                      "product_id": product_id
                    };
                    post(urlTrade,params,function(){
                      window.location = "chat.html";
                    }, function(){
                      alert("No se ha podido reslizar la operacion");
                    });
                  };
        </script>
        <a id="refChat" href="chat.html" style="vertical-align: middle;  margin-top:2px; width: 100px; margin-left:40%;" 
        type="submit" class="btn btn-success " onclick="negociar(jsonProducto.seller_id, jsonProducto.product_id)">Negociar</a>
	<script>
		function reportar()
		{
			alert("reportado");
        		xhttp.open("POST", "https://kelpa-api.herokuapp.com/report", true);
			params = 'user_id=' + jsonProducto.user_id + '&product_id=' + getParameterByName('idAnuncio');
			http.send(params);
		}
	</script>
        <a style="vertical-align: middle;  margin-top:2px; width: 100px; margin-left:40%;"
        class="btn btn-danger " onclick="reportar();">Reportar </a>
      </div>     
      <div class="row">
        <div class="col-sm-12">
            <img id="main_img" src="anuncioEjemplo.png" style="width: 80%; border: solid 2px white; margin-top:30px; margin-bottom:30px;" class="img-rounded center-block">
        </div>
      </div>
      <div>
        <label style="font-size: 2em; margin-left:10%;"><span id="price"></span> €</label>  <!-- precio -->
        <script>
          function pujar(id){
                  var params = {
                    "bid": document.getElementById("price").value
                  };
                  var urlBid="https://kelpa-api.herokuapp.com/bid/"+id;
                  post(urlBid,params,function(){
                      alert("Pujar porocesada con exito");
                    }, function(){
                      alert("No se ha podido realizar la puja");
                    });
                  };
          if(jsonProducto.bid_date.localeCompare("None") != 0 && sessionStorage.getItem('usuarioLogeado') != null){
            document.write(' <input type="number" class="form-control width100" id="precio" style="width:100px;  margin-left:10%">' + 
                                                '<span class="input-group-btn">' +
                                                '<button class="btn btn-primary" style="margin-left:10%" onclick="pujar(jsonProducto.id)">Pujar</button>'+
                                                '</span>');
            document.getElementById("precio").value=jsonProducto.price+1;
            document.getElementById("precio").min=jsonProducto.price+1;
          }
        </script>
      </div>
      <div>
        <label id="title" style="font-size: 2em; margin-left:10%;"></label>  <!-- titulo -->
      </div>
      
      <hr style="width:85%; border-color:black;">
      <p id="descript" style="font-size: 1.25em; margin-left:10%; margin-right:10%;"> </p>
      <hr style="width:85%; border-color:black;">
      <div>
        <label style="font-size: 1.25em; margin-left:10%;">Publicado: <span id="publish_date"></span></label>  <!-- titulo -->
      </div>
      <hr style="width:85%; border-color:black;">
      <div>
        <label style="font-size: 1.25em; margin-left:10%;">Categorias:</label>
        
      <script> 
          
          for (i in jsonProducto.categories) {
            
              document.write('<label style="font-size: 1.25em; margin-left:5%; border: Solid #0f0fef 2px; padding: 0.5em;">' + jsonProducto.categories[i]  + '</label>');
              }   
      </script>
        
      </div>
      
      
      <div class="row">
        <div class="col-xs-1"><button onclick="volverImagen()" type="button" class="btn btn-success" style="margin-top: 250%;"><<</button></div>
        <div class="col-xs-10"><img id=0 src="photos/1498998460.jpg" style="border: solid 4px white; max-width:100%; max-height: 500px;"/></div>
        <div class="col-xs-1"><button onclick="cambiarImagen()" type="button" class="btn btn-success" style="margin-top: 250%;">>></button></div>
      </div>
      
      
      
      
      
      <hr style="width:85%; border-color:black;">
      <div class=container>
          
          <iframe id="place" src="https://www.google.fr/maps/search/" 
          width="300" height="300" frameborder="0" style="border:0; margin-left:5%" allowfullscreen> </iframe>  
        
        </div>
    </div>

<script>
  //Darle una id al campo que obtienes para mostrarla en html 
      document.getElementById("nombreVendedor").innerHTML = jsonProducto.user_nick;
      document.getElementById("refVendedor").href = "perfil_vendedor.html?nick=" +jsonProducto.user_nick;
      document.getElementById("descript").innerHTML = jsonProducto.descript;
      document.getElementById("price").innerHTML = jsonProducto.price;
      document.getElementById("publish_date").innerHTML = jsonProducto.publish_date;
      document.getElementById("title").innerHTML = jsonProducto.title;
      document.getElementById("main_img").setAttribute("src", jsonProducto.main_img);
      document.getElementById("place").setAttribute("src", "https://www.google.es/maps/search/" + jsonProducto.place);
//Navbar
      document.getElementById("icono").src = "/static/logo.jpg" ;
      document.getElementById("nombre").innerHTML = usuarioLog.nick ;
      document.getElementById("usuario").href =  "perfil_vendedor.html?nick=" + usuarioLog.nick ;
</script>

    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
