<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <!-- <link rel="icon" href="../../favicon.ico">-->

    <title>Perfil vendedor</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/style.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/assets/js/ie-emulation-modes-warning.js"></script>
    
    <script type="text/javascript" src="httpGet.js"></script> 

    <script>
        var nick = getParameterByName('nick');
        var urlObtenerUsuario = "http://kelpa-api.herokuapp.com/profile/" +nick;
        //Necesario para parsear el json
        var jsonUsuario = JSON.parse(httpGet(urlObtenerUsuario));
        var usuarioLog = JSON.parse(sessionStorage.getItem('usuarioLogeado'));
        
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Barra de menu superior -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          
          <div class="collapse navbar-collapse" id="myNavbar">
              <div class="navbar-header">
                  <a class="navbar-brand" href="bienvenidaConectado.html"><img  src="/static/logo.jpg" width="55px" /></a>
                </div>
                <form class="navbar-form navbar-left" action="/action_page.php">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                  </form>
                  <form class="navbar-form navbar-left" method="get" action="crearAnuncio.html">
                        <button type="submit" class="btn btn-success">Subir producto</button>
                    </form>
            <ul class="nav navbar-nav navbar-right" id="in_line" >
                
                    <div class="dropdown"> 
                            <a data-toggle="dropdown" style="color:rgb(0, 0, 0);" >
                                <span style="color:white;font-weight:bold" id="nombre" >Pedrito</span>
                            <img id="icono"  class='img-circle' height="42" width="42"  > </img>
                                <ul class="dropdown-menu">
                                    <li><a href="chat.html">Mensajes <span class="glyphicon glyphicon-envelope"></span> <span class="badge">10</span></li>
                                   <li><a href="miCarrito.html">Mi carrito  <span class="glyphicon glyphicon-shopping-cart my-cart-icon"></span> <span class="badge">10</span></li>
                                   <li><a  id='usuario' href="perfil_vendedor.html">Mi perfil <span class="glyphicon glyphicon-user"></span></a></li>
                                 <li><a href="editarUsuario.html">Editar perfil <span class="glyphicon glyphicon-cog"></span></a></li>
                                  <li><a href="index.html">Desconectarse <span class="glyphicon glyphicon-off"></span></a></li>
                                  
                               </ul>
                        </div>
                    </a>
                    
                
                    </div>
                    
            </ul>
          </div>
        </div>
    </nav>

    <div class="container top bottom" style="width: 90%; background-color: rgba(230, 240, 245, 0.9);margin-top:80px;">
        <div>
            <img id="avatar" class="img-circle" src="../static/icono.jpg" style="width: 30%; margin-left:35%;">
        </div>
        <div>
            <label id="nick" class="control-label"style="font-size: 2em; margin-left: 45%; margin-top: 20px"></label>  <!-- nombre del vendedor -->
            <br />
            <strong> Apellido - nombre </strong> : <span id="first_name"></span> - <span id="last_name"></span> <br />
            <strong> Ciudad </strong> : <span id="place"></span><br />
            <strong> Correo </strong> : <span id="mail"></span><br />
            <strong> Phone </strong> : <span id="phone"></span><br />
            <strong> Fecha de nacimiento </strong> : <span id="fnac"></span><br />
        </div>
        <hr style="width:85%; border-color:black;">

        <label class="control-label"style="font-size: 2em; border: Solid #0f0fef 2px; padding: 0.5em;">Anuncios del vendedor</label>
        <div class="row" style="margin-bottom:50px">
        <script>
                var urlObtenerAnuncios = "http://kelpa-api.herokuapp.com/products/" + jsonUsuario.id  ;
                //Necesario para parsear el json              
                var jsonAnuncios = JSON.parse(httpGet(urlObtenerAnuncios));
                var anuncios = jsonAnuncios.list;
                for (i in anuncios) {
                    document.write(' <a href="anuncio.html?idAnuncio=' + anuncios[i].id   + ' " class="anuncio">  <div class="col-md-3 " style="border: solid 2px white;"> '  );
                    document.write('<h2>'+ anuncios[i].title + '</h2>'   );
                    document.write('<img src="'+  anuncios[i].main_img  + '" style="border: solid 2px white; width:250px; height:200px ">');
                    document.write('</br>');
                    document.write(' <em>Precio <strong>' + anuncios[i].price   + '€</strong> - Fecha publicación:' +   anuncios[i].publish_date  + 
                    '<span class="glyphicon glyphicon-map-marker " style="color:green;font-size: 20px" >'+ anuncios[i].place +'</span> </em>');
                    document.write(' <p>'+ anuncios[i].descript  + '</p> ');
                    document.write('<div class="row">');
                    document.write('<h3 id=a'+ i  + '><a  href="perfil_vendedor.html">Editar <span class="glyphicon glyphicon-edit "></span></a>');
                    document.write(' <a href="perfil_vendedor.html">Borrar <span class="glyphicon glyphicon-remove"></span></a></h3>');
                    document.write('</div> </div> </a>');    
                 }              
            
              
        
        </script>

</div>
        
        


        <hr style="width:85%; border-color:black;">
        <label class="control-label"style="font-size: 2em; border: Solid #0f0fef 2px; padding: 0.5em;">Comentarios</label>
        <div  style="margin-bottom:50px">
            <script>
                var urlObtenerComentarioss = "http://kelpa-api.herokuapp.com/comment/" + jsonUsuario.id;
                //Necesario para parsear el json              
                var jsonComentarios = JSON.parse(httpGet(urlObtenerComentarios));
                
            </script>

            <div class="container_chat darker">
                <img class="col-md-4 img-circle" src="../static/icono.jpg" style="width: 8%; vertical-align: middle;"></a>
                <label class="col-md-3 control-label"style="vertical-align: middle;font-size: 1.5em;">Paco_45</label></a> 
                <p class="text-left">Excelente vendedor</p>
            </div>

            <div class="container_chat darker">
                <img class="col-md-4 img-circle" src="../static/icono2.jpg" style="width: 8%; vertical-align: middle;"></a>
                <label class="col-md-3 control-label"style="vertical-align: middle;font-size: 1.5em;">Carlos_98</label></a> 
                <p class="text-left">Comora sin ningun problema</p>
            </div>

            <div class="container_chat darker">
                <img class="col-md-4 img-circle" src="../static/icono3.jpg" style="width: 8%; vertical-align: middle;"></a>
                <label class="col-md-3 control-label"style="vertical-align: middle;font-size: 1.5em;">Sofia_7473</label></a>  
                <p class="text-left">Comunicacion con el vendedor excelente</p>
            </div>
        
            <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="height:600px top bottom">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Añadir comentario</h4>
                        </div>
                        <div class="modal-body">
                            
                            <input type="text" class="span2 search-query top bottom"style="width: 95%; margin-left: 2.5%; margin-top: 10px; height:200px" id="comentario">
                            
                            <input style="margin-top:30px; width: 60px;" id="val" name="val" class="form-control input-md" required="" type="number" min="0" max="5" value="3">
                            <button style="margin-top:30px" type="submit" class="btn btn-success btn-lg" data-dismiss="modal" aria-label="Close" id="enviar">Enviar</button>
                        
                            <script>
                                enviar.onclick = function(e) {
                                    // evitamos la acción por defecto
                                    e.preventDefault();
                                    var data = JSON.stringify({"body": document.getElementById("comentario").value, "points": document.getElementById("val").value});
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>

            <button style="vertical-align: middle;  margin-top:20px; width: 200px; margin-left:40%; margin-bottom:40px;" type="submit" class="btn btn-success btn-lg" data-toggle="modal" data-target="#miModal">Añadir comentario</button>
                 

    
        </div>
    </div>  
<script>
    
  //Necesario para parsear el json
   
     
  //Darle una id al campo que obtienes para mostrarla en html 
      document.getElementById("first_name").innerHTML = jsonUsuario.first_name;
      document.getElementById("fnac").innerHTML = jsonUsuario.fnac;
      document.getElementById("last_name").innerHTML = jsonUsuario.last_name;
      document.getElementById("nick").innerHTML = jsonUsuario.nick;
      document.getElementById("place").innerHTML = jsonUsuario.place;
      document.getElementById("mail").innerHTML = jsonUsuario.mail;
      document.getElementById("phone").innerHTML = jsonUsuario.phone;
      document.getElementById("avatar").setAttribute("src", jsonUsuario.avatar);

      //Barra de nav 
      document.getElementById("icono").src = "/static/logo.jpg" ;
      document.getElementById("nombre").innerHTML = usuarioLog.nick ;
      document.getElementById("usuario").href =  "perfil_vendedor.html?nick=" + usuarioLog.nick ;
      if(nick.localeCompare(usuarioLog.nick ) != 0  ){
        for(i in anuncios){
            document.getElementById("a" + i ).style.display = "none";
        }
    }
</script>
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>